# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vscode/
.idea/
/target/
/src-tauri/target/
/src-tauri/target/debug/
/src-tauri/target/release/*
!/src-tauri/target/release/bundle/msi/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
